body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #212121;
    color: black;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    width: 100vw;
}

.title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0px;
    border: 0px solid black;
    color: #931A25;
}

.container-main {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #444444;
    border: 1px solid #686D76;
    width: 50vw;
    height: 50vh;
}

.display-container {
    height: 90%;
    border: 0px solid black;
}
.inner-display {
    text-align: center;
    padding: 1%;
    font-weight: bold;
    border: 0px solid black;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    border: 0px solid black;
}

.card {
    background-color: #686D76;
    border: 0px solid black;
    width: 50%;
}

.hidden{
    display: none;
}
