body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #0F0E0E;
    color: #950101;
    width: 100vw;
    height: 10rem;
}

.lower-container {
    display: flex;
    flex-direction: row;
    background-color: #A9A9A9;
    height: 100vh;
}

.side-container {
    background-color: #45474B;
    width: 20rem;
}

.main-content {
    margin: 1%;
    background-color: #A9A9A9;
    width: 100vw;
    height: 100vh;
}