* {
    font-size: 65%;
    box-sizing: border-box, inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    background-color: #176B87;
}

.main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: #6DA4AA;
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0,0,0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}


.name {
    position: relative;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: auto;
}

/* switch on click*/
.player-active {
    background-color: #468B97;
}
/* switch on click*/
.player-active .name {
    font-weight: 700;
}
/* switch on click*/
.player-active .score {
    font-weight: 400;
}
/* switch on click*/
.player-active .current {
    opacity: 1;
}

.current {
    background-color: #176B87;
    opacity: 0.5;
    border-radius: 9px;
    color: #ffffff;
    width: 50%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #dddddd;
}

.current-score{
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    background: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s;

    background-color: #EEF5FF;
    backdrop-filter: blur(10px);

    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0,0,0, 0.1);
}

.btn--new {
    top: 4rem;
}
.btn--roll {
    top: 40rem;
}
.btn--hold {
    top: 46rem
}

.btn:hover {
    background-color: #176B87;
    color: #ffffff;
    transition: 3s;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    width: 10rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0, 0.2);
}

/* onchange */
.player-winner {
    background-color: #092635;
    color: #9BB8CD;
}

.player-winner .current {
    opacity: 0;
}

/* onchange */
.player-winnder .name {
    font-weight: 700;
}

.winner {
    font-size: 7rem;
    font-weight: 300;
    margin-bottom: auto;
}

/* onchange */
.hidden {
    display: none;
}