body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: #F3F3F3;
    border-radius: 50px;
    border: 2px black dashed;
    width: 75vw;
    height: 75vh;
}

h1, .month_title {
    font-size: 3rem;
}

.title-container {
    display: flex;
    background-color: #B7C4CF;
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.calendar-table {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
}

.week-box {
    background-color: grey;
    padding: 1rem;
    color: black;
}

.day-box {
    background-color: #F3F3F3;
    padding: 1rem;
    color: black;
}