.main-content {
    display: flex;
    flex-direction: column;
    background-color: #27374D;
    min-height: 100vh;
    align-items: center;
}

.center {
    align-items: center;
}

.link {
    color: #526D82;
    text-decoration: none;
}

p {
    font-size: .8rem;
}

.top {
    float: left;
    padding-right: .2rem;
    object-fit: contain;
    width: 20% !important;
    position: relative !important;
    height: unset !important;
}

li {
    font-size: .8rem;
}

hr {
    font-size: .8rem;
    border: 1px dashed black;
}

.bold {
    font-weight: bold;
}

.title {
    color: #F3EEEA;
    font-size: 3rem;
}

.nav-link {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: flex;
    width: 100%;
    padding: 2px;
    background-color: #526D82;
    justify-content:space-around;
    align-items: center;
}

.nav-btn {
    background-color: #526D82;
    text-decoration: none;
    color: black;
    border: 0px black solid;
    font-size: 1.5rem;
}

.nav-btn:hover {
    color: #F3EEEA;
    cursor:pointer;
}

.outer-box {
    width: 50vw;
    min-height: 50vh;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #F3EEEA;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 0px rgb(34, 34, 34);
}

.content-box {
    background-color: #F3EEEA;
    padding: 10px;
}

.card-title {
    padding: 0px;
    background-color: #F3EEEA;
    margin-top: 10px;
    border-bottom: 1px black solid;
}

.res-title {
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 1.25rem;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
.main-content {
    display: flex;
    flex-direction: column;
    background-color: #27374D;
    min-height: 100vh;
    align-items: center;
}
    
.top {
    float: left;
    object-fit: contain;
    width: 50% !important;
    position: relative !important;
    height: unset !important;
}

.res-title {
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
}

li {
    font-size: .8rem;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}
    
.nav-btn {
    background-color: #526D82;
    text-decoration: none;
    color: black;
    border: 0px;
    font-size: 1rem;
}
    
.nav-btn:hover {
    color: #F3EEEA;
    cursor:pointer;
}
    
.outer-box {
    width: 75vw;
    min-height: 75vh;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F3EEEA;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 0px rgb(34, 34, 34);
}
  }