body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-y: auto;
    background-color: #5C8374;
}

.title {
    color: #0F0F0F;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: #092635;
}
.post-date {
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}
.post-content {
    margin-top: 0px;
    margin-bottom: 5px;
}
.see-more {
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}
.see-more:hover {
    background-color: #5C8374;
}

.main-container {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    width: 60vw;
    min-height: 100vh;
    height: fit-content;
    border: 0px solid #0F0F0F;
    padding-left: 1px;
    padding-right: 1px;
}

.content-container {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border: 0px solid #0F0F0F;
    padding-bottom: 10px;
}

.post-container {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #D8D8D8;
    border: 2px dashed #0F0F0F;
    border-radius: 10px;
    width: 90%;
}

.flexImage {
    margin: 0;
    flex: 1; 
    max-width: 1077px; 
    max-height: 249px; 
  }