/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
 display: flex;
 flex-direction: column;
 background-color: white;
 margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: black;
}

.small {
  margin-top: 0px;
  font-size: 0.8rem;
}

.center{
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F3EEEA;
}

.main-header {
  background-color: #1D5B79;
  padding: 10px;
  width: 100vw;
  height: 20vh;
}

.inner-content {
  display: flex;
  flex-grow: 1;
  background-color: #F3EEEA;
}

.side-content {
  display: flex;
  padding: 10px;
  width: 12vw;
  background-color: #b3cad2;
  border-right: 1px black;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #F3EEEA;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}


.main-footer {
  background-color: #0a3248;
  height: 5vh;
  width: 100vw;
  padding: 10px;
  margin: 0 auto;
  color: white;
}