body {
    background-color: #EEEDEB;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    width: 70%;
    justify-content: center;
    background-color: #808080;
}

.center-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    background-color: aqua;
}

.side-content {
    flex-direction: column;
    width: 30%;
    background-color: #747264;
}

.display-content {
    display: flex;
    width: 70%;
    background-color: #E0CCBE;
}

.bottom-container {
    width: 70%;
    justify-content: center;
    background-color: #808080;
}

.hidden {
    display: none;
}

.reg-row {
    display: flex;
    flex-flow: row nowrap;
    width: 35vw;
}

.reg-category {
    display: flex;
    flex: 1;
    background-color: aqua;
    padding: 5px;
    justify-content: left;
    align-items: center;
}

.reg-item {
    display: flex;
    flex: 1;
    padding: 5px;
    justify-content: left;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}