body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
        --s: 80px; 
        --c: #6D2932;
        
        --_s: calc(2*var(--s)) calc(2*var(--s));
        --_g: 35.36% 35.36% at;
        --_c: #0000 66%,#561C24 68% 70%,#0000 72%;
        background:
          radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
          radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
          radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
          radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
          repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
          radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
          var(--c);
}

.main-container {
    display: flex;
    background-color: #C7B7A3;
    width: 70vw;
    padding: 5px;
}

.horse-data-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.left-container {
    width: 200px;
    border: 1px solid black;
}

.right-container {
    border: 1px solid black;
    width: 600px;
}

.line {
    font-size: .8rem;
    border: 1px solid #6D2932;
}